- @hide_top_links = true
- page_title    "代码片段"
- header_title  "代码片段", dashboard_snippets_path

= render 'dashboard/snippets_head'
- if current_user.snippets.exists?
  = render partial: 'snippets/snippets_scope_menu', locals: { include_private: true }

.d-block.d-sm-none
  &nbsp;
  = link_to _("New snippet"), new_snippet_path, class: "btn btn-success btn-block", title: _("New snippet")

- if current_user.snippets.exists?
  = render partial: 'shared/snippets/list', locals: { link_project: true }
- else
  = render 'shared/empty_states/snippets', button_path: new_snippet_path
